// Placeholder to allow overriding predefined variables smoothly.


$base-font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Segoe UI Emoji", "Segoe UI Symbol", "Apple Color Emoji", freight-big, freight-sans, Georgia, "Times New Roman", 'Helvetica Neue', Arial, sans-serif;

$text-color:  #787878;

$background-color: #fff;

$base-font-weight: 400;

$link-base-color: #787878;
$link-visited-color: #787878;
$link-hover-color: #000;
$code-background-color: #e6e6e6;
$border-color-01: #e6e6e6;
